<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link rel="stylesheet" href="/css/login/login.css">
	<script src="/assets/jquery-3.6.1.js"></script>
	<script src="/assets/js.cookie.min.js"></script>
	<script src="/js/login/login.js"></script>
</head>
<body>
	<div class="outerContainer">
		<div class="formContainer">
			<form class="authorizationForm">
				<h1 class="pageName">Авторизация</h1>
				<input class="usernameField" type="text" name="username" placeholder="Логин"><br>
				<input class="passwordField" type="password" name="password" placeholder="Пароль"><br>
				<input class="submitButton" type="submit" value="Войти">
			</form>
			<div class="linkContainer">
				<a class="registrationLink" href="/registration">Нет аккаунта? Зарегистрируйтесь!</a>
			</div>
		</div>
	</div>
</body>
</html>