<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="/css/profile/profile.css">
    <link rel="stylesheet" href="/css/profile/editProfile.css">
    <link rel="stylesheet" href="/css/profile/editPassword.css">
    <script src="/assets/jquery-3.6.1.js"></script>
    <script src="/assets/js.cookie.min.js"></script>
    <script src="/js/profile/fillProfilePage.js"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="pagesContainer"></div>
        <div class="profileContainer">
            <div class="pageNameContainer">
                <h1 class="pageName">Профиль</h1>
            </div>
            <div class="profile">
                <div class="fieldContainer">
                    <p class="fieldLabel">Имя и фамилия</p>
                    <input class="smallField" id="nameField" type="text" readonly>
                    <input class="smallField" id="surnameField" type="text" readonly>
                </div>
                <div class="fieldContainer">
                    <p class="fieldLabel">Email</p>
                    <input class="bigField" id="emailField" type="email" readonly>
                </div>
                <div class="fieldContainer">
                    <p class="fieldLabel">Логин</p>
                    <input class="bigField" id="usernameField" type="text" readonly>
                </div>
            </div>
        </div>
    </div>
</body>
</html>