<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration/registration.css">
    <script defer src="/assets/jquery-3.6.1.js"></script>
    <script defer src="/js/registration/registration.js"></script>
</head>
<body>
    <div class="outerContainer">
        <div class="formContainer">
            <form class="registrationForm">
                <h1 class="pageName">Регистрация</h1>
                <input class="field" placeholder="Имя" type="text" name="name"><br>
                <input class="field" placeholder="Фамилия" type="text" name="surname"><br>
                <input class="field" placeholder="Email" type="email" name="email">
                <input class="field" placeholder="Логин" type="text" name="username"><br>
                <input class="field" placeholder="Пароль" type="password" name="password"><br>
                <input class="submitButton" type="submit" value="Зарегистрироваться">
            </form>
            <div class="linkContainer">
                <a href="/login" class="loginLink">Уже зарегистрированы? Авторизуйтесь!</a>
            </div>
        </div>
    </div>
</body>
</html>