<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registrationStyle.css}" href="../static/css/registrationStyle.css">
</head>
<body>
    <div id="outerContainer">
        <div id="formContainer">
            <!--/*@thymesVar id="user" type="ru.kaznacheev.system.entity.User"*/-->
            <form th:method="POST" th:action="@{/registration}" th:object="${user}" id="registrationForm">
                <h1 id="pageName">Регистрация</h1>
                <input placeholder="Имя" type="text" id="field" th:field="*{name}"><br>
                <input placeholder="Фамилия" type="text" id="field" th:field="*{surname}"><br>
                <input placeholder="Email" type="email" id="field" th:field="*{email}">
                <input placeholder="Логин" type="text" id="field" th:field="*{username}"><br>
                <input placeholder="Пароль" type="password" id="field" th:field="*{password}"><br>
                <input type="submit" value="Зарегистрироваться" id="submitButton">
            </form>
            <div id="linkContainer">
                <a href="/login" id="loginLink">Уже зарегистрированы? Авторизуйтесь!</a>
            </div>
        </div>
        <div id="errorContainer" th:if="${#fields.hasErrors('user.*')}">
            <p th:each="error : ${#fields.errors('user.*')}" th:text="${error}"></p>
        </div>
    </div>
</body>
</html>